@import "tailwindcss";

@theme {
  --color-error: #ffb4ab;
  --color-tertiary: #bacfff;
  --color-surface-container-low: #1c1b1b;
  --color-on-secondary-fixed-variant: #474746;
  --color-surface-variant: #353534;
  --color-primary-fixed: #ffe088;
  --color-inverse-on-surface: #313030;
  --color-on-tertiary-fixed: #001a41;
  --color-outline: #99907c;
  --color-on-primary: #3c2f00;
  --color-on-background: #e5e2e1;
  --color-tertiary-fixed: #d8e2ff;
  --color-on-tertiary-container: #004390;
  --color-outline-variant: #4d4635;
  --color-on-secondary-container: #b7b5b4;
  --color-primary: #f2ca50;
  --color-secondary-container: #474746;
  --color-tertiary-fixed-dim: #adc7ff;
  --color-background: #131313;
  --color-on-secondary-fixed: #1c1b1b;
  --color-surface-bright: #393939;
  --color-secondary-fixed-dim: #c8c6c5;
  --color-on-tertiary-fixed-variant: #004493;
  --color-on-error-container: #ffdad6;
  --color-on-tertiary: #002e68;
  --color-on-surface: #e5e2e1;
  --color-tertiary-container: #8db3ff;
  --color-primary-container: #d4af37;
  --color-secondary: #c8c6c5;
  --color-on-primary-container: #554300;
  --color-surface-container-lowest: #0e0e0e;
  --color-on-primary-fixed-variant: #574500;
  --color-on-surface-variant: #d0c5af;
  --color-secondary-fixed: #e5e2e1;
  --color-surface-container-high: #2a2a2a;
  --color-on-secondary: #313030;
  --color-surface-container-highest: #353534;
  --color-on-error: #690005;
  --color-surface-container: #201f1f;
  --color-surface: #131313;
  --color-on-primary-fixed: #241a00;
  --color-inverse-surface: #e5e2e1;
  --color-error-container: #93000a;
  --color-inverse-primary: #735c00;
  --color-surface-dim: #131313;
  --color-primary-fixed-dim: #e9c349;
  --color-surface-tint: #e9c349;

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;

  --font-headline: "Space Grotesk";
  --font-body: "Manrope";
  --font-label: "Manrope";
}

@layer base {
  body {
    @apply bg-background text-on-surface font-body;
    min-height: max(884px, 100dvh);
  }
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  
  .inner-shadow-outline-variant-15 {
    box-shadow: inset 0 0 0 1px rgba(77, 70, 53, 0.15);
  }
  
  .editorial-gradient {
    background: linear-gradient(135deg, #f2ca50 0%, #d4af37 100%);
  }
}
